<% include partials/header %>

<div class="container">
        <header class="jumbotron">
            <h1>Welcome To <br>
            Shara Lue Designs</h1>
            <p>Turing Dreams into Reality 1 Start-up at a time!!</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/briefs">Get Started!</a>
            </p>  
        </header>
</div>

<% include partials/footer %>